*~
*.backup
g_*
.kdev4
*.kdev4
*.out
*.aux
*.log
*.bbl
*.nav
*.toc
*.blg
*.snm
*.kilepr
*.pyc
octave-core
Modelska Analiza/1*
build
Dinamicni/Groselj.pdf
Modelska Analiza/210/hitrost-eps-converted-to.pdf
Modelska Analiza/210/hitrost.eps
Modelska Analiza/210/hitrost.tex
Modelska Analiza/210/pretok-eps-converted-to.pdf
Modelska Analiza/210/pretok.eps
Modelska Analiza/210/pretok.tex
Seminar/harvesting_old.tex
Stabilnost/Slike/Balancer_with_wine_3.JPG
Stabilnost/Slike/film-slika.png
Statisticna/crit_1-eps-converted-to.pdf
Statisticna/crit_1.eps
Statisticna/crit_1.tex
Statisticna/crit_3-eps-converted-to.pdf
Statisticna/crit_3.eps
Statisticna/crit_3.tex
Statisticna/fero-eps-converted-to.pdf
Statisticna/fero.eps
Statisticna/fero.tex
Statisticna/fero_left-eps-converted-to.pdf
Statisticna/fero_left.eps
Statisticna/fero_left.tex
Statisticna/fero_right-eps-converted-to.pdf
Statisticna/fero_right.eps
Statisticna/fero_right.tex
Statisticna/para-eps-converted-to.pdf
Statisticna/para.eps
Statisticna/para.tex
*.avi
*.mp4
.directory
*converted-to.pdf
